node_modules
client/node_modules
.env
.env.*
npm-debug.log*
*.log
logs
tmp
temp
.cache
.npm
.eslintcache
.nyc_output
coverage
.parcel-cache
dist
build
out
client/dist
.vercel
.netlify
.envrc
.envrc.local
*.db
*.sqlite
*.sqlite3
.idea
.vscode
.DS_Store
Thumbs.db
